<nz-card>
  <div class="d-flex flex-row-reverse">
    <div class="d-flex">
      <button class="btn btn-primary mx-1" [routerLink]="['edit',''+key?.supplierKeyId]" [queryParams]="{returnUrl: admin_routes.keys.join('/')}">
        编辑
      </button>
      <button class="btn btn-warning mx-1"
              nz-popconfirm
              nzPopconfirmTitle="确定要删除这个密钥?此操作不可逆！"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="delete(key!.supplierKeyId!)">
        删除
      </button>
    </div>
  </div>
  <div>
    密钥ID:{{key?.supplierKeyId}}
  </div>
  <div>
    端点基址:{{key?.baseUrl}}
  </div>
  <div>
    密钥:{{key?.apiKey}}
  </div>
  <div class="form-group">
    <label class="me-2">用于服务</label>
    <label class="rounded-2" [class.available]="key?.enable" [class.not-available]="!key?.enable">{{key?.enable?"可用":"禁用"}}</label>
  </div>
  <div>
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <th>模型&价格 ID</th>
        <th>模型名</th>
        <th>可用性</th>
        <th>模型相对价格</th>
      </thead>
      <tbody>
      @if(key!==undefined&&(key!.modelKeyBinds!==undefined&&key!.modelKeyBinds!.length!==0)){
        @for(modelKeyBind of key!.modelKeyBinds; track modelKeyBind!.modelKeyBindId){
          <tr>
            <th>{{modelKeyBind.modelKeyBindId}}</th>
            <th>{{modelKeyBind.model?.name}}</th>
            <th><label [class.available]="modelKeyBind?.enable" [class.not-available]="!key?.enable">{{modelKeyBind.enable?"可用":"禁用"}}</label></th>
            <th>{{modelKeyBind.fee}}</th>
          </tr>
        }
      }@else{
        <div>这里什么都没有哦</div>
      }
      </tbody>
    </table>
  </div>
</nz-card>
